In [6]:
!pip install matplotlib
!pip install seaborn

Requirement already satisfied: matplotlib in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib) (1.4.5)
Requirement already satisfied: numpy<2,>=1.21 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib) (1.24.3)
Requirement already satisfied: packaging>=20.0 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib) (22.0)
Requirement already satisfied: pillow>=8 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)
Collecting seaborn
  Downloading seaborn-0.13.0-py3-none-any.whl (294 kB)
                                              0.0/294.6 kB ? eta -:--:--
     -                                        10.2/294.6 kB ? eta -:--:--
     -----                                 41.0/294.6 kB 326.8 kB/s eta 0:00:01
     -------------                        112.6/294.6 kB 726.2 kB/s eta 0:00:01
     --------------------------             204.8/294.6 kB 1.0 MB/s eta 0:00:01
     -------------------------------------- 294.6/294.6 kB 1.3 MB/s eta 0:00:00
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from seaborn) (1.24.3)
Requirement already satisfied: pandas>=1.2 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from seaborn) (1.5.3)
Requirement already satisfied: matplotlib!=3.6.1,>=3.3 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from seaborn) (3.8.1)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (4.44.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (22.0)
Requirement already satisfied: pillow>=8 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (10.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from matplotlib!=3.6.1,>=3.3->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from pandas>=1.2->seaborn) (2022.7)
Requirement already satisfied: six>=1.5 in c:\users\layin\anaconda3\envs\test_env2\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.3->seaborn) (1.16.0)
Installing collected packages: seaborn
Successfully installed seaborn-0.13.0

In [7]:
import pandas as pd
import numpy as np
import datetime as dt
import matplotlib.pyplot as plt  
import seaborn as sns

In [11]:

# Load the data
Telco_df = pd.read_csv(r'C:\Users\layin\OneDrive\Desktop\Predicting-Telco-customer-churn\Predicting-Telco-customer-churn\WA_Fn-UseC_-Telco-Customer-Churn.csv')

In [12]:
#show the first 5 rows
Telco_df.head()

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes
3,7795-CFOCW,Male,0,No,No,45,No,No phone service,DSL,Yes,...,Yes,Yes,No,No,One year,No,Bank transfer (automatic),42.30,1840.75,No
4,9237-HQITU,Female,0,No,No,2,Yes,No,Fiber optic,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,70.70,151.65,Yes

In [13]:
#to show the dimension
Telco_df.shape

(7043, 21)

In [14]:
#to show the names of columns
Telco_df.columns

Index(['customerID', 'gender', 'SeniorCitizen', 'Partner', 'Dependents',
       'tenure', 'PhoneService', 'MultipleLines', 'InternetService',
       'OnlineSecurity', 'OnlineBackup', 'DeviceProtection', 'TechSupport',
       'StreamingTV', 'StreamingMovies', 'Contract', 'PaperlessBilling',
       'PaymentMethod', 'MonthlyCharges', 'TotalCharges', 'Churn'],
      dtype='object')

In [15]:
Telco_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   customerID        7043 non-null   object
 1   gender            7043 non-null   object
 2   SeniorCitizen     7043 non-null   int64
 3   Partner           7043 non-null   object
 4   Dependents        7043 non-null   object
 5   tenure            7043 non-null   int64
 6   PhoneService      7043 non-null   object
 7   MultipleLines     7043 non-null   object
 8   InternetService   7043 non-null   object
 9   OnlineSecurity    7043 non-null   object
 10  OnlineBackup      7043 non-null   object
 11  DeviceProtection  7043 non-null   object
 12  TechSupport       7043 non-null   object
 13  StreamingTV       7043 non-null   object
 14  StreamingMovies   7043 non-null   object
 15  Contract          7043 non-null   object
 16  PaperlessBilling  7043 non-null   object
 17  PaymentMethod     7043 non-null   object
 18  MonthlyCharges    7043 non-null   float64
 19  TotalCharges      7043 non-null   object
 20  Churn             7043 non-null   object
dtypes: float64(1), int64(2), object(18)
memory usage: 1.1+ MB

In [17]:
Telco_df.dtypes

customerID           object
gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
MultipleLines        object
InternetService      object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
PaperlessBilling     object
PaymentMethod        object
MonthlyCharges      float64
TotalCharges         object
Churn                object
dtype: object

In [18]:
# checking for misssing values
Telco_df.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

Thre are no missing values in the variables.